<!DOCTYPE html>
<html>

<head>
  <title>Canteen Dapp</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
</head>

<body>
  <div class="container">
    <h1>Canteen Management Dashboard</h1>
    <div class = "row">
      <div class="col-lg-10">
        <h2>Welcome <%= address %></h2>
        <h3>Your Balance <%= balance %> Rs.</h3>
        <hr>
        <h3 align="center">Past orders</h3>
        <hr>
        <p><%= customerAddress %></p>
        <p><%= itemNames %></p>
        <p><%= itemPrices %></p>
        <p><%= status %></p>
      </div>
      <div class="col-lg-2">
        <p align="right"><a  class="btn btn-primary" href="/canteen/logout">Logout</a></p>
      </div>
    </div>
</body>
</html>
