<!DOCTYPE html>
<html>

<head>
  <title>Canteen Dapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="../mdb/css/bootstrap.min.css" rel="stylesheet">
  <link href="../mdb/css/mdb.min.css" rel="stylesheet">
  <link href="../mdb/css/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <h1 align="center">Canteen DApp</h1>
    <div class = "row">
      <div class="col-lg-10">
        <h2>Welcome <%= address %></h2>
        <h3>Your Balance <%= balance %> Rs.</h3>
      </div>
       <div class="col-lg-2">
        <p align="right"><a  class="btn btn-primary" href="/canteen/logout">Logout</a></p>
      </div>
    </div>
    <div class="row">
      <hr>
      <h3 align="center">Past orders</h3>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sl. No.</th>
            <th>Order Id</th>
            <th>Timestamp</th>
            <th>Customer Address</th>
            <th>Item Name</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < customerAddress.length; i++) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= orderId[i] %></td>
              <td><%= orderTs[i] %></td>
              <td><%= customerAddress[i] %></td>
              <td><%= itemNames[i] %></td>
              <td><%= itemPrices[i] %></td>
              <td><%
                  if(status[i]==0){ %>
                    Incoming Order <b><a style="color:#4285F4" href="/canteen/accept_order/<%= orderId[i] %>">&nbsp&nbsp&nbspAccept </a></b>
                 <% }
                 else if(status[i]==1){ %>
                    Accepted <b><a style="color:#4285F4" href="/canteen/mark_order_complete/<%= orderId[i] %>">&nbsp&nbsp&nbspMark Completed </a></b>
                 <% }
                 else if(status[i]==4){ %>
                     <span style="color:green;">Order Completed</span>
                 <% }
                 else if(status[i]==2){ %>
                    Cancellation Requested <b><a style="color:#4285F4" href="/canteen/accept_cancellation/<%= orderId[i] %>">&nbsp&nbspAccept </a></b>
                 <% }
                 else if(status[i]==3){ %>
                    Cancellation Accepted <b><a style="color:#4285F4" href="/canteen/refund/<%= orderId[i] %>">&nbsp&nbspRefund </a></b>
                 <% }
                 else if(status[i]==5){ %>
                    <span style="color:green;">Cancelled & Amount Refunded</span>
                 <% }
                %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <br><br>
    <p align="right"><b><a href="/canteen">Home</a></b></p>
  </div>
  <script type="text/javascript" src="../mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="../mdb/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../mdb/js/mdb.min.js"></script>
</body>
</html>
