<!DOCTYPE html>
<html>

<head>
  <title>Canteen Dapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="../mdb/css/bootstrap.min.css" rel="stylesheet">
  <link href="../mdb/css/mdb.min.css" rel="stylesheet">
  <link href="../mdb/css/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <h1>Canteen Management Dashboard</h1>
    <div class = "row">
      <div class="col-lg-10">
        <h2>Welcome <%= address %></h2>
        <h3>Your Balance <%= balance %> Rs.</h3>
      </div>
      <div class="col-lg-2">
        <p align="right"><a  class="btn btn-primary" href="/person/logout">Logout</a></p>
      </div>
    </div>
    <h2 align="center">Catalogue</h2>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sl. No.</th>
            <th>Item Id</th>
            <th>Canteen Address</th>
            <th>Item</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < catalogueCanteenAddress.length; i++) { %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= catalogueItemIds[i] %></td>
                  <td><%= catalogueCanteenAddress[i] %></td>
                  <td><%= catalogueItemName[i] %></td>
                  <td><%= catalogueItemPrice[i] %></td>
                  <td><a href="/person/buy/<%= catalogueItemIds[i] %>">Buy</a></td>
                </tr>
              <% } %>
        </tbody>
      </table>
    </div>
    <br>
    <br><br>
    <p align="right"><b><a href="/person/past_orders">Order History</a></b></p>
    <p align="right"><b><a href="/person/recharge">Recharge Person Wallet</a></b></p>
  </div>
  <script type="text/javascript" src="../mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="../mdb/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../mdb/js/mdb.min.js"></script>
</body>

</html>