<!DOCTYPE html>
<html>

<head>
  <title>Canteen Dapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="../mdb/css/bootstrap.min.css" rel="stylesheet">
  <link href="../mdb/css/mdb.min.css" rel="stylesheet">
  <link href="../mdb/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1>Canteen Management Dashboard</h1>
    <div class = "row">
      <div class="col-lg-10">
        <h2>Welcome <%= address %></h2>
        <h3>Your Balance <%= balance %> Rs.</h3>
      </div>
      <div class="col-lg-2">
        <p align="right"><a  class="btn btn-primary" href="/person/logout">Logout</a></p>
      </div>
    </div>
    <h3 align="center">Your Past orders</h3>
        <hr>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sl. No.</th>
              <th>Order Id</th>
              <th>Timestamp</th>
              <th>Canteen Address</th>
              <th>Item Name</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < canteenAddress.length; i++) { %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= orderId[i] %></td>
                <td><%= ts[i] %></td>
                <td><%= canteenAddress[i] %></td>
                <td><%= itemNames[i] %></td>
                <td><%= itemPrices[i] %></td>
                <td><%
                  if(status[i]==0){ %>
                    Order made <a href="/person/cancel_order/<%= orderId[i] %>"> Cancel </a>
                 <% }
                 else if(status[i]==1){ %>
                    Accepted <a href="/person/cancel_order/<%= orderId[i] %>"> Cancel </a>
                 <% }
                 else if(status[i]==4){ %>
                     Order Completed
                 <% }
                 else if(status[i]==2){ %>
                    Cancellation Request Made
                 <% }
                 else if(status[i]==3){ %>
                    Cancellation request accepted
                 <% }
                 else if(status[i]==5){ %>
                    Cancelled & Amount Refunded</a>
                 <% }
                %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <br><br>
    <p align="right"><b><a href="/person">Home</a></b></p>
    <p align="right"><b><a href="/person/recharge">Recharge Person Wallet</a></b></p>
  </div>
  <script type="text/javascript" src="../mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="../mdb/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../mdb/js/mdb.min.js"></script>
</body>

</html>